<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<session-factory>
		<property name="dialect"></property>
		<property name="show_sql">true</property>
		<!--  mapping resource="com/bj/greenball/model/User.hbm.xml"></mapping>
		<mapping resource="com/bj/greenball/model/UserRoles.hbm.xml"></mapping>-->
		<mapping class="com.bj.greenball.model.User"/>
		<mapping class="com.bj.greenball.model.UserRoles"/>
		<mapping class="com.bj.greenball.model.Tournament"/>
		<mapping class="com.bj.greenball.model.Player"/>
		<mapping class="com.bj.greenball.model.TournamentPlayers"/>
		<mapping class="com.bj.greenball.model.Category"/>
		<mapping class="com.bj.greenball.model.Match"/>
		<mapping class="com.bj.greenball.model.Groups"/>
		<mapping class="com.bj.greenball.model.TournamentCategories"/>
		<mapping class="com.bj.greenball.model.TournamentDetails"/>
		<mapping class="com.bj.greenball.model.TournamentDetCategories"/>
		<mapping class="com.bj.greenball.model.TournamentDetCategoriesId"/>
		
	</session-factory>
</hibernate-configuration>